.button-icon {
  @include block-centering;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}