$bt-white: #FFFFFF;
$bt-dark-purple: #313866;
$bt-dark: #212226;
$bt-yellow: #DFA549;

$bt-purple-gradient: linear-gradient(155.72deg, #504099 17.71%, #4B4AF9 119.51%);
$bt-dark-gradient: linear-gradient(180deg, #212226 13.8%, #020202 114.67%);
